.tuner {
  display: grid;
  grid-template-columns: 10.938em 3.125em 2.5em 10.938em 6.25em 15em 1.875em;
  @media (max-width: 480px) {
    grid-template-columns: 17em;
    justify-content: left;
  }

  &--tunerText {
    @media (max-width: 480px) {
      font-size: 1.5em;
      padding-left: 0.5em;
    }
  }
  padding-bottom: 0.625em;
  justify-content: center;

  &--rootNote {
    margin-left: 0.313em;
    margin-right: 0.313em;
    @media (max-width: 480px) {
      font-size: 2em;
      height: 2em;
      line-height: 2em;
      margin-top: 0.5em;
    }
  }

  &--offset {
    margin-left: 0.313em;
    margin-right: 0.313em;
    @media (max-width: 480px) {
      margin-top: 0.5em;
      font-size: 2em;
      margin-bottom: 0.5em;
    }
  }

  &--tuning {
    margin-left: 0.313em;
    margin-right: 0.313em;
    @media (max-width: 480px) {
      font-size: 2em;
      height: 2em;
      line-height: 2em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}

.display {
  font-weight: bold;
  margin-left: 0.313em;
  @media (max-width: 480px) {
    font-size: 2em;
    margin-top: 0.5em;
  }
}
