.fretboard {
  display: flex;
}
.string {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgba(192, 192, 192, 1) calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}

.fret {
  width: 40px;
  height: 20px;
  border-right-color: gray;
  border-right-width: 2px;
  border-right-style: solid;
  align-items: center;
  justify-content: center;
  position: relative;
  &:first-child {
    border-right-color: gray;
    border-right-width: 10px;
    border-right-style: solid;
  }
  .fretName {
    color: gray;
  }
  .note {
    position: absolute;
    background: lightblue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    &.root {
      background: lightcoral;
      animation: wiggle 0.8s ease 2;
      @keyframes wiggle {
        0% {
          top: 50%;
          margin-top: -5px;
        }
        50% {
          top: 0%;
          margin-top: 0px;
        }
        100% {
          top: 50%;
          margin-top: -5px;
        }
      }
    }
    &.notDisplayed {
      opacity: 0;
      transition: opacity 0.5s ease-in;
    }
  }
}

.tuner {
  display: grid;
  grid-template-columns: 175px 50px 40px 175px 100px 240px 30px;
  padding-bottom: 10px;
  justify-content: center;
}

.offset {
  margin-left: 5px;
  margin-right: 5px;
}

.rootNote {
  margin-left: 5px;
  margin-right: 5px;
}

.tuning {
  margin-left: 5px;
  margin-right: 5px;
}
.display {
  font-weight: bold;
  margin-left: 5px;
}

.app {
  padding-top: 10px;
  padding-left: 10px;
  width: 850px;
}
